<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular JS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>
</head>

<body ng-controller="mainCtrl">

<div class="jumbotron text-center">
  <h2>ToDo App</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newTask">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="addTask()">Add</button>
          </span>
        </div>
      </div>
      <!-- ovo je samo loop -->
      <div class="col-lg-4" ng-repeat="task in tasks">
        <div class="panel-default">
          <div class="panel-heading">
            <!-- ovo je i -->
            <h3>Task no: {{$index + 1}}</h3>
          </div>
          <div class="panel-body text-center">
            <h2>{{task.msg}}</h2>
          </div>
          <div class="panel-footer text-right">
            <button type="button" class="btn btn-danger" ng-click="deleteTask($index)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
